<p><%= link_to 'ツイート',new_tweet_path %></p><hr>
<% @tweets.each do |tweet| %>
    <p>
        <%= tweet.message %>
    </p>
    <p align="right">
        <%= link_to  '削除',tweet_path(tweet.id),method: :delete %>
        <%= link_to  '編集',edit_tweet_path(tweet.id) %>
        <% time = (Time.current-tweet.tdate).to_i %>
        <% if time > 3600*24 %>
            <% day = time/3600/24  %>
            <%= day %>日前
        <% elsif time > 3600 %>
            <% hour = time/3600  %>
            <%= hour %>時間前
        <% elsif time > 60 %>
            <% min = time/60  %>
            <%= min %>分前
        <% else %>
        <%= time %>秒前<br>
        <% end %>
        <hr>
    </p>
<% end %>