<%= render 'layouts/content' %>
<%= form_for @tweet ,url:{action: :create} do |f| %>
    <%= f.label :message,'メッセージ' %><br>
    <%= f.text_area :message, :size=>"60x10"%><br>

    <%= f.submit 'ツイート' %>
<% end %>