
<h2>
    近畿大学
</h2>
<p>
    @kinkidaigakuPR
</p><br>

<p>
    近畿大学のTwitter公式アカウントです。気象警報による休講情報や、お得なランチ情報など、大学に関する情報を発信します。マグロに関するツイート多め🐟学生のみなさんの相談に乗りますので、くだらないことも気軽に話しかけてください。履修に関するご質問は所属学部。入試に関するご相談は、入学センターへお問い合わせ下さい。
</p>

<p><%= link_to 'ツイート',new_tweet_path %></p>
