<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">
	  <div class="header">
		  <%= render 'layouts/header' %>
	  </div>

	  <div class="sidebar">
    <%= render 'layouts/sidebar' %>
    </div>
  
	  <div class="content">
      <%= render 'layouts/content' %>
        <%= yield %>
	  </div>

	  <div class="footer">


	  </div>
	</div>
  </body>
</html>
